html {
  box-sizing: border-box !important;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: darken(white, 4%);
  color: lighten(black, 10%);
  font-family: OpenSans, $fonts;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit !important;
}

h1, h2, h3, h4, h5, h6, address {
  margin: 0;
  font-weight: 500;

  a {
    color: lighten(black, 10%);

    &:hover {
      color: $color-link;
      text-decoration: none;
    }
  }
}

h1 {
  border-bottom: 2px solid $color-primary;
  font-size: 29px;
  font-weight: 400;
  padding-bottom: 2px;
}

h2 {
  font-size: 23px;
  font-weight: 400;
}

h2 {
  font-size: 19pxpx;
  font-weight: 400;
}


table {
  border-collapse: collapse;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus, &:active {
    outline: none;
  }
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

ul, ol {
  list-style-type: none;
  margin:  0;
  padding: 0;
}

strong {
  font-weight: 500;
}

svg {
  display: block;

  &:not(.row) path {
    fill: currentColor;
  }
}

blockquote {
  border-left: 4px solid lighten(black, 85%);
  color: lighten(black, 40%);
  margin: 15px 0;
  padding-left: 10px;

  > :last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 15px 0;
}

pre, code {
  background-color: white;
  border-radius: 3px;
  border: 0;
  font-family: Consolas, monospace;
  font-size: 13px;
  padding: 3px 5px;
}

pre {
  border-radius: 3px;
  overflow-x: auto;

  > code {
    display: block;
    padding: 0;

    table td {
      background-color: white;
      padding: 0;

      pre {
        padding: 3px 5px;
      }

      &.gutter pre {
        border-radius: 0;
        border-right: 1px solid darken(white, 10);
        color: lighten(black, 50);
        padding: 0 5px 0 0;
      }
    }
  }

  pre {
    margin: 0;
  }
}

@keyframes spinner {
  0%, 80%, 100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
  }
}

spinner {
  display: flex;
  justify-content: center;
  margin: auto;

  & > div {
    @include size(6px, 6px);
    animation: spinner 1.4s infinite ease-in-out both;
    background-color: $color-primary;
    border-radius: 100%;
    margin: 0 1px;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      animation-delay: -0.16s;
    }
  }
}

wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 25px;

  &.narrow {
    max-width: 700px;
  }

  &.wide {
    max-width: 1200px;
  }
}

main {
  h1, h2, h3, h4, h5, h6, p {
    margin: 15px 0;
  }

  ul {
    margin: 15px 0;
    list-style-position: inside;
    list-style-type: disc;
  }

  ol {
    margin: 15px 0;
    list-style-position: inside;
    list-style-type: decimal;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

header.main {
  @include position(fixed, 0 0 null 0);
  background-color: rgba(white, .9);
  box-shadow: 0 1px 5px rgba(black, .15);
  z-index: 99;

  &.narrow > wrapper {
    height: 60px;
  }

  > wrapper {
    align-items: center;
    height: 80px;
    transition: height .3s;
  }

  a.logo {
    color: $color-primary;

    svg {
      height: 28px;
    }
  }

  nav.desktop {
    margin-left: auto;
  }

  nav.desktop ul {
    align-items: center;
    display: flex;

    li {
      margin-left: 30px;

      a {
        color: lighten(black, 40);
        font-size: 15px;
        font-weight: 500;
        position: relative;
        transition: color .1s;

        &.active, &:hover {
          color: $color-primary;
          text-decoration: none;
        }

        &.active:after {
          border-bottom: 2px solid $color-primary;
          content: "";
          bottom: -6px;
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

