html {
  box-sizing: border-box !important;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: darken(white, 4%);
  color: lighten(black, 10%);
  font-family: OpenSans, $fonts;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;

  &.flex {
    display: flex;
    height: 100%;
  }
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit !important;
}

h1, h2, h3, h4, h5, h6, address {
  margin: 0;
  font-weight: 500;
}

table {
  border-collapse: collapse;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus, &:active {
    outline: none;
  }
}

p {
  margin: 15px 0;
  line-height: 1.7;
}

ul, ol {
  list-style-type: none;
  margin:  0;
  padding: 0;
}

strong {
  font-weight: 500;
}

svg {
  display: block;

  &:not(.row) path {
    fill: currentColor;
  }
}

blockquote {
  border-left: 4px solid lighten(black, 85%);
  color: lighten(black, 40%);
  margin: 15px 0;
  padding-left: 10px;

  > :last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 15px 0;
}

pre, code {
  background-color: white;
  border-radius: 3px;
  border: 0;
  font-family: Consolas, monospace;
  font-size: 13px;
  padding: 3px 5px;
}

pre {
  border-radius: 3px;
  overflow-x: auto;

  > code {
    display: block;
    padding: 0;

    table td {
      background-color: white;
      padding: 0;

      pre {
        padding: 3px 5px;
      }

      &.gutter pre {
        border-radius: 0;
        border-right: 1px solid darken(white, 10);
        color: lighten(black, 50);
        padding: 0 5px 0 0;
      }
    }
  }

  pre {
    margin: 0;
  }
}

wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;

  &.main {
    max-width: 1000px;
    padding-top: 80px;
  }
}
